<p>Danzi means a single word in chinese. Danzicard is an app which aims to help users learn chinese word in an efficient
    way. Users can create a lesson and add the new words to expand their 'Danzi'. For each card, users read the word, by tipping the
    flip card, it shows the meaning and pinyin on the backside. Users can add the lessons to the favorite list. <br> In
    the quiz session, the cards in a lesson shuffle in a random way for dynamic quiz experience. This app is made with
    Ionic/ Angular framework as front-end and firebase as backend. It utilizes firebase authentication.</p>
