<p>
    There are already several Online Resume Editors available. However, most of them are resume with US-Style and users
    have to register and save theier sensitive personal data at the external unkown database. I don't prefer that way,
    so I decided to create my own resume editor. First of all, I researched resumes examples to define the standard
    German-Style resume structure. Based on this structure, I built a dynamic resume editor which users can see their
    changes in real-time. I found a way to upload and crop images for rendering in the resume without uploading data on
    the server. Finally, users can print their resume or export it as JSON with a single button.
    Visit the <a href="https://bobbyartportfolio.de/cv-generator/" target="_blank">Website</a>
</p>