.headline--name {
  .tracking-in-expand(1s, .1s);
}


.subline {
  .slide-in-blurred-left(1s, 2s);
}

.tracking-in-expand (@speed, @delay) {
  -webkit-animation: tracking-in-expand @speed cubic-bezier(.215, .61, .355, 1.000) both;
  animation: tracking-in-expand @speed cubic-bezier(.215, .61, .355, 1.000) both;
  animation-delay: @delay;
}

.slide-in-blurred-left(@speed, @delay ) {
  -webkit-animation: slide-in-blurred-left @speed cubic-bezier(.23, 1.000, .32, 1.000) both;
  animation: slide-in-blurred-left @speed cubic-bezier(.23, 1.000, .32, 1.000) both;
  animation-delay: @delay;
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both
}

